<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SUFSPrograms" type="KWDT.Core.Configuration.ProgramConfigurationSection, KWDT.Core"/>
  </configSections>
  <appSettings>
    <add key="Environment" value="Test"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <SUFSPrograms>
    <Programs>
      <add key="FTC_OLA" displayname="FTC OLA" type="FTC_OLAMinder"/>
      <add key="FTC_PLI" displayname="FTC PLI" type="FTC_PLIMinder"/>
	  <add key="FTC_SLI" displayname="FTC SLI" type="FTC_SLIMinder"/>
      <add key="FTC_SAS" displayname="FTC SAS" type="FTC_SASMinder"/>
      <add key="GAR_PLI" displayname="Gardiner PLI" type="GAR_PLIMinder"/>
      <add key="GAR_Provider" displayname="Gardiner Provider" type="GAR_ProviderMinder"/>
      <add key="GAR_SAS" displayname="Gardiner SAS" type="GAR_SASMinder"/>
      <add key="MyScholarShop" displayname="MyScholarShop" type="MyScholarShopMinder"/>
      <add key="Portal" displayname="Portal" type="PortalMinder"/>
      <add key="Reading" displayname="Reading" type="ReadingMinder"/>
      <add key="PowerBI" displayname="PowerBI" type="PowerBIMinder"/>
    </Programs>
  </SUFSPrograms>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
    <identity impersonate="true" userName="SUFS\svc.QAJenkins" password="%@jZx14ky7&amp;t"/>
  </system.web>
  <connectionStrings>
    <!--<add name="Test_connectionString" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=True;Server=dev-sqlc1n1\test; Database=SUFS" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
