<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Insight.Database" version="5.2.8" targetFramework="net452" />
  <package id="Insight.Database.Core" version="5.2.8" targetFramework="net452" />
  <package id="OpenQA.Selenium.Winium" version="1.0.0.4" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
</packages>