<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Environment" value="TEST" />
		
		<add key="Foundation_TEST" value="https://sufststapim.azure-api.net" />
	    <add key="Foundation_TEST_KEY" value="0a8886c3b05c49c3a715f728e8d3df80" />
		<add key="Foundation_UAT" value="https://sufsuatapim.azure-api.net" />
		<add key="Foundation_UAT_KEY" value="5935f70c77e04ba8be57d8f128cd766b" />
		
		<add key="Commerce_Token_TEST" value="https://sufsidentityservertest.azurewebsites.net/connect/token" />
		<add key="Commerce_Username" value="Commerce.Api" />
		<add key="Commerce_Password" value="secret" />
		<add key="Commerce_TEST" value="https://sufscommerceapitest.azurewebsites.net" />
		<add key="Commerce_UAT" value="https://sufscommerceapiuat.azurewebsites.net" />

		<add key="DB_TEST" value="dev-sqlc1n1\test" />
		<add key="DB_UAT" value="dev-sqlc1n1\uat" />
		<add key="EPICOR_DEV" value="AZ-DC-DEVEPISQ2" />
		<add key="EPICOR_TEST" value="AZ-TC-TSTEPISQ3" />
		<add key="EPICOR_UAT" value="AZ-UC-UATEPISQ2" />
	</appSettings>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        </dependentAssembly>
    </assemblyBinding>
    </runtime>
</configuration>