<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExecutionMode" value="local" />
		<add key="Browser" value="Chrome" />
		<add key="WebDriverWaitTimeoutSeconds" value="10" />
		<add key="BrowserStackUsername" value="TU_USUARIO_BROWSERSTACK" />
		<add key="BrowserStackAccessKey" value="TU_CLAVE_BROWSERSTACK" />
	</appSettings>
</configuration>